<!-- <label for="radio-button">Sexo: </label>
<mat-radio-group class="radio-group" [(ngModel)]="sexo">
    <mat-radio-button class="radio-button" id="radio-button" *ngFor="let sex of sexList" [value]="sex">
        {{sex}}
    </mat-radio-button> 
</mat-radio-group>

<mat-form-field appearance="legacy">
    <mat-label>Legacy form field</mat-label>
    <input matInput placeholder="Placeholder" [formControl]="name">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Hint</mat-hint>
</mat-form-field>

<div>Your favorite season is: {{ sexo.value }}</div>
<div>Your favorite season is: {{ name.value }}</div> -->